*{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(221, 218, 218);
}

.App {
  text-align: center;
}

.bg.bg-img {
  background: url(https://ptprashanttripathi.github.io/img/img-bg-1.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.bg {
  position: absolute;
  height: 80vh;
  width: 100vw;
  left: 0;
  top: 0;
}

section {
  padding: 2vh;
}

section h2 {
  margin-bottom: 4vh;
}









