*{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(221, 218, 218);
  padding-left: 3vw;
  padding-right: 3vw;
}

.App {
  text-align: center;
}

.bg.bg-img {
  background: url(https://ptprashanttripathi.github.io/img/img-bg-1.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.bg {
  position: absolute;
  height: 480px;
  width: 100%;
  left: 0;
  top: 0;
}

.header {
  position: sticky;
  top: 0;
  background-color:white;
  color: black;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  border-radius: 3px;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header nav ul li {
  margin: 0 10px;
}

.header nav ul li a {
  color: gray;
  text-decoration: none;
}

.header h1 {
  margin: 0;
}

#resume{
  background-color: rgb(34, 128, 34);
}
#contact-btn{
  background-color: blue;

}
a{
  text-decoration: none;
  color: white;
}

#about {
  padding: 50px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:white;
  padding: 5vw;
  max-width: 70vw;
  height: 40vh;
  margin: 1px solid black;
  border-radius: 8px;
}

.card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.card-content {
  text-align: left;
  margin-left: 4vw;
}

.card-content h2 {
  margin-top: 0;
}

.card-content button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-content button:hover {
  background-color: #555;
}

section {
  padding: 2vh;
}

section h2 {
  margin-bottom: 20px;
}

#portfolio {
  padding: 20px;
  text-align: center;
}

.portfolio-cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  padding: 2vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.portfolio-card-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.portfolio-card h3 {
  margin: 15px 0 10px;
}

.portfolio-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

.font-blue {
  color: #2879ff !important;
}

.profile-icon {
  font-size: 8vw;
  display: block;
  margin-bottom: 1vh;
}

.font-green {
  color: #01c853 !important;
}

.font-yellow {
  color: #fec107 !important;
}

#interests {
  padding: 20px;
  text-align: center;
}

.interests-cards-container {
  display: flex;
  justify-content: center;
  padding : 0vw;
  gap: 20px;
  flex-wrap: wrap;
}

.interests-card {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 12vw;
  width: 12vw;
  padding: 0.5vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.interests-card-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.interests-card h3 {
  margin: 10px 0 0;
  font-size: 16px;
}

.interest-icon{
  font-size: 4vw;
  display: block;
  margin-bottom: 1vh;
}


#projects {
  padding: 20px;
  text-align: center;
}

.projects-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.projects-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 22.5vw;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  padding: 1vw;
}

.projects-card:hover {
  transform: scale(1.05);
}

.projects-card-image-container {
  position: relative;
  overflow: hidden;
  height: 40%;
}

.projects-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.projects-card:hover .projects-card-image {
  transform: scale(1.2);
}

.github-link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.7);
  transition: transform 0.3s;
}

.projects-card:hover .github-link {
  transform: translate(-50%, -50%) scale(1.1);
}


.projects-card-content {
  padding: 20px;
  text-align: left;
}

.projects-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #333;
}

.projects-card h4 {
  margin: 5px 0 10px;
  font-size: 16px;
  color: #666;
}

.projects-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.font-white {
  color: white;
  width : 2.5vw;
  height : 2.5vw;
}

.back-black{
  background-color: black;
}

.github-logo{
  font-size: 3vw;

}

#contact {
  padding: 20px;
  text-align: center;
}

#contact p {
  font-size: 18px;
  margin-bottom: 20px;
}

.contact-card{
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  margin-left: 6vw;
  padding: 1vw;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.3);
}

.social-media-links-container {
  display: flex;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  padding: 1vw;
}

.social-media-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 120px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.social-media-card:hover {
  transform: scale(1.05);
}

.social-media-logo .zmdi{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  margin-bottom: 10px;
  transition: transform 0.3s;
  border-radius: 10px;
}

.social-media-logo .zmdi:hover{
  transform: scale(1.2);
}

.social-media-card:hover .social-media-logo {
  transform: scale(1.05);
}

.social-media-card p {
  font-size: 14px;
  color: #555;
}

.back-facebook{
  background-color: #183c77;
}

.back-twitter{
  background-color: #1da1f2;
}

.back-instagram{
  background-color: #e1306c;
}

.back-youtube{
  background-color: #ff0000;
}

.back-linkedin{
  background-color: #0077b5;
}

.back-reddit{
  background-color: #ff4500;
}