#interests {
    padding: 20px;
    text-align: center;
    margin-top: 5vh;
}

.interests-cards-container {
    display: flex;
    justify-content: center;
    padding: 0vw;
    gap: 20px;
    flex-wrap: wrap;
}

.interests-card {
    perspective: 400px;
}

.interests-card-box {
    width: 140px;
    height: 140px;
    background:white;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 0.5s;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.interests-card-box:hover {
    transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}

.interests-card-title {
    color: #fff;
    position: absolute;
    top: 60%;
    left: 40px;
    transform: translateY(-50%);
    transition: transform 0.5s;
    font: 700 1.5rem monospace;
    text-shadow: -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    z-index: 2; /* Ensures title stays on top */
}

.interests-card-box:hover .interests-card-title {
    transform: translateZ(50px);
}

.interests-icon {
    font-size: 4vw;
    display: block;
    margin-bottom: 1vh;
    transition: transform 0.5s;
    z-index: 1; /* Ensures icon stays on top */
}

.interests-card-box:hover .interests-icon {
    transform: translateZ(20px) rotate(15deg);
    color: #ff4500; 
}
