#interests {
    padding: 20px;
    text-align: center;
    margin-top: 5vh;
}

.interests-cards-container {
    display: flex;
    justify-content: center;
    padding: 0vw;
    gap: 20px;
    flex-wrap: wrap;
}

.interests-card {
    perspective: 500px;
    /* Create a perspective for 3D effect */
}

.card {
    width: 1vw;
    height: 1vw;
    background: white;
    /* border: 0.5px solid #555555; */
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover {
    transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}

.card_title {
    color: black;
    position: absolute;
    top: 60%;
    right: 40px;
    transform: translateY(-50%);
    transition: transform 0.5s;
    font: 700 1.5rem monospace;
}

.card:hover .card_title {
    transform: translateZ(50px);
}

.interest-icon {
    font-size: 4vw;
    display: block;
    margin-bottom: 1vh;
    transition: transform 0.5s;
    z-index: 1;
}

.card:hover .interest-icon {
    transform: translateZ(20px) rotate(15deg);
    color: #ff4500;
}